nav{
	background-color: tomato;
	text-align: center;
	padding: 20px 0;
}
nav ul li{
	display: inline-block;
	background-color: white;
	padding: 10px 15px;
	transition: 0.5s ease;
}
nav ul li a{
	transition: 0.5 ease;
}
nav ul li:hover{
	transform:scale(1.2);
	background-color: tomato;
	border: none;
}
nav ul li:hover a {
	text-decoration: none;
	color: #FFF;
}
button{
	background-color: lightgreen;
	color:darkgreen;
	border: none;
	border-radius: 5px;
	padding: 15px 25px;
	margin: 5px;
	transition: 0.25s ease;

}
button:hover{
	color:#FFF;
	background-color: purple;
}
div#button{
	text-align: center;
	padding:50px 0;
}
